/*浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
/*定位*/

/*渐变*/
.jian_bian{
	background:-webkit-linear-gradient(top,#FFFFFF,#f8f8f8);
	background:-moz-linear-gradient(top,#FFFFFF,#f8f8f8);
	background:-ms-linear-gradient(top,#FFFFFF,#f8f8f8);
	background:-o-linear-gradient(top,#FFFFFF,#f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF,endColorstr=#f8f8f8)";
}

/*三角形*/
.s_sj,.x_sj,.s_sj_lan{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.s_sj{
	border-bottom: 4px solid #e5e5e5;
}
.x_sj{
	border-top: 4px solid #e5e5e5;
}
.s_sj_lan{
	border-top: 4px solid #39adff;
}
/*横线*/
.h_x{
	width: 82px;
	height: 0;
	border: 1px solid#39adff;
}

body{
	margin-bottom: 50px;
}

/*头*/

/*主要内容*/
.content{
	width: 1200px;
	margin: 0 auto;
	margin-top: 80px;
}
.content1{
	width: 1200px;
	border-bottom: 1px solid #e2e2e2;
}
 .content .nav{
	width: 1200px;
	height: 48px;
	background: #fafafa;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #f0f0f0;
}
 .content .nav p{
	width: 180px;
	line-height: 44px;
	text-align: center;
	font-size: 16px;
	color: #323232;
	background: #ffffff;
	border-top: 4px solid #e74c3c;
	font-weight: bold;
	text-shadow:1px 0px 1px #d6d6d6 ;
}
.ul1{
	height: 278px;
	margin: 80px 0px 0px 20px;
	padding-bottom: 24px;
}
.ul1 li{
	width: 210px;
	float: left;
	margin-left: 30px;
} 
.ul1 a p{
	line-height: 35px;
	font-size: 18px;
	color: #333333;
	text-align: center;
	text-shadow:1px 0px 1px #d6d6d6 ;
}
.ul1 a span{
	display: block;
	font-size: 16px;
	color: #333333;
	text-align: center;
	text-shadow:1px 0px 1px #d6d6d6 ;
}
.content2{
	width: 1200px;
	margin: 40px 0 90px 0;
	border-bottom: 1px solid #e2e2e2;
}

/*底部*/
.public-footer{
	height: 300px;
	background-color: #33373B;
	margin-top:20px;
}
/*底部左侧*/
.public-footer .footer-left{
	width: 685px;
	padding-left: 70px;
	padding-top: 38px;
	padding-bottom: 28px;
	border-bottom: #474B4E 1px solid;
	}
.public-footer .footer-left dl{
	float: left;
	width: 100px;
}
.public-footer .footer-left dt a{
	color: #FFF;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}
.footer-left dt a:hover{color: #39ACFF;}

.public-footer .footer-left dd a{
	color: #999;
	font-size: 12px;
	padding-top:10px;
	display: inline-block;
}
.public-footer .footer-left dd a:hover{color: #FFFFFF;}

/*底部右侧二维码*/
.public-footer  .footer-right{
	float: right;
	width: 430px;
	height: 195px;
}
.footer-right dl{
	float: left;
	padding-top: 38px;
	text-align: center;
	color: #FFFFFF;
}

.footer-right dl:last-child{
	padding-left: 30px;
}
.footer-right dt{
	margin-bottom: 10px;
}
/*底部最底层免责声明*/
.footer-bottom p{
	font-size: 12px;
	color: #fff;
	font-family: "微软雅黑";
	height: 20px;
	position: absolute;
	top: 250px;
	left: 120px;
}