/*浮动*/
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
/*定位*/

/*渐变*/
.jian_bian{
	background:-webkit-linear-gradient(top,#FFFFFF,#f8f8f8);
	background:-moz-linear-gradient(top,#FFFFFF,#f8f8f8);
	background:-ms-linear-gradient(top,#FFFFFF,#f8f8f8);
	background:-o-linear-gradient(top,#FFFFFF,#f8f8f8);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF,endColorstr=#f8f8f8)";
}

/*三角形*/
.s_sj,.x_sj,.s_sj_lan{
	width: 0;
	height: 0;
	position: absolute;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.s_sj{
	border-bottom: 4px solid #e5e5e5;
}
.x_sj{
	border-top: 4px solid #e5e5e5;
}
.s_sj_lan{
	border-top: 4px solid #39adff;
}
/*横线*/
.h_x{
	width: 82px;
	height: 0;
	border: 1px solid#39adff;
}

body{
	margin-bottom: 50px;
}

/*头*/
#head{
	height: 160px;
	background: url(../img/head_bj.png);
	z-index: 2;
}
#head .nr{
	width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
}
#head img{}
#head .link{
	padding-top: 20px;
}
#head .dl{
	margin-top: 18px;
}
#head .link a{
	font-size: 18px;
	color: #333333;
	
}
.head_a1{
	border-right:  2px solid #7f8389;
	padding-right: 8px;
}
.head_a2{
	margin-left: 8px;
}
#head .dl img{
	margin-left: 25px;
}

/*导航*/
.nav{
	height: 43px;
	background-color: #000000;
	filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	opacity: 0.7;
	width: 100%;

}
.nav_div{
	width: 1133px;
	margin: 0 auto;
	padding-left: 67px;
	line-height: 43px;
	position: relative;
}
.nav a{
	float: left;
	font-size: 16px;
	color: #e5e5e5;
	
}

.nav_a2,.nav_a3,.nav_a4,.nav_a5,.nav_a6{
	margin-left: 100px;
}
.nav_div input{
	width: 201px;
	height: 24px;
	margin-left: 77px;
}
.nav_div img{
	position: absolute;
	right: 3px;
	top: 15px;
}
.nav_div span{
	position: absolute;
	top: 20px;
	margin-left: 70px;
}

/*主要内容*/
.content{
	width: 1200px;
	margin: 0 auto;
	margin-top: 80px;
	border: 1px solid #b3b1b1;
	margin-bottom: 110px;
}
.content1{
	
}
 .content .nav{
	width: 1200px;
	height: 48px;
	background: #fafafa;
	border-right: 1px solid #f0f0f0;
	position: relative;
}
 .content .nav img{
 	position: absolute;
 	left: 6px;
 	top: 18px;
 }
 .content .nav p{
	width: 180px;
	line-height: 44px;
	text-align: center;
	font-size: 16px;
	color: #323232;
	background: #ffffff;
	border-top: 4px solid #e74c3c;
	font-weight: 900;
	text-shadow:1px 0px 1px #d6d6d6 ;
}
.content2{
	margin-top: 60px;
	font: "宋体";
	font-size: 36px;
	color: #323333;
	text-shadow:1px 0px 1px #d6d6d6 ;
	font-weight: 800;
}
.content2_img{
margin: 25px 0 0 97px;
}
.content2_wz{
	text-align: center;
}
.content2_wz span{
	line-height: 120px;
	font-weight: 200;
}



/*底部*/
			/*居中*/
.public-container{	
	position: relative;
	margin:0  auto;
	width: 1195px;
}
			/*底部*/
.public-footer{
	height: 300px;
	background-color: #33373B;
}
/*底部左侧*/
.public-footer .footer-left{
	width: 685px;
	padding-left: 70px;
	padding-top: 38px;
	padding-bottom: 28px;
	border-bottom: #474B4E 1px solid;
	}
.public-footer .footer-left dl{
	float: left;
	width: 100px;
}
.public-footer .footer-left dt a{
	color: #FFF;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
}
.footer-left dt a:hover{color: #39ACFF;}

.public-footer .footer-left dd a{
	color: #999;
	font-size: 12px;
	padding-top:10px;
	display: inline-block;
}
.public-footer .footer-left dd a:hover{color: #FFFFFF;}

/*底部右侧二维码*/
.public-footer  .footer-right{
	float: right;
	width: 430px;
	height: 195px;
}
.footer-right dl{
	float: left;
	padding-top: 38px;
	text-align: center;
	color: #FFFFFF;
}
.footer-right dl:first-child{
	padding-left: 120px;
}
.footer-right dl:last-child{
	padding-left: 30px;
}
.footer-right dt{
	margin-bottom: 10px;
}
/*底部最底层免责声明*/
.footer-bottom p{
	font-size: 12px;
	color: #fff;
	font-family: "微软雅黑";
	height: 20px;
	position: absolute;
	top: 230px;
	left: 120px;
}

